html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
}

svg{
  background: whitesmoke;
}

#canvas{
  margin-top: -30px;
  margin-bottom: 20px;
  border-radius: 1px;
  min-width: 1000px;
  min-height: 600px;
  transform: scale(.8);
  outline: 30px solid whitesmoke;
}

.estado:hover{
  fill: #fef0d9;
  stroke-width: 3px;
  stroke: #fdcc8a;
}

table {
  width: 100%;
  margin: 10px auto;
  border: 3px solid whitesmoke;
}
tr {
}
table td {
  padding: 5px;
  border: 1px solid whitesmoke;
}
table td:first-child {
  width: 80px;
  font-weight: bold;
  text-align: right
}
